<div class="home">
	<img alt="NextITlogo logo" src="assets/NextITlogo.svg" />

	<h1>{{ title }}</h1>

	<p>
		Demo <a href="https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps" target="_blank"
			rel="noopener noreferrer">PWA</a> aplikácia, <br />
		a použitie <a href="https://learn.microsoft.com/en-us/graph/api/resources/authenticationmethods-overview?view=graph-rest-1.0" target="_blank"
		rel="noopener noreferrer">MS autentifikácie</a>.
	</p>

	<br>
	<div class="center">
		<button class="login" (click)="redirectToMSTest()">MS autentifikator test</button>
	  </div>
</div>