<article class="about">
  <h1>Informácie o tejto stránke</h1>

  <div *ngIf="isLogin">
    <p>
      Vitajte v našej demo aplikácii! Táto aplikácia je postavená na
      progresívnom webovom aplikáciu (PWA) a obsahuje podporu pre Microsoft
      autentifikáciu.
    </p>

    <p>
      PWA nám umožňuje ponúkať vám jednoduchú a pohodlnú skúsenosť pri používaní
      tejto aplikácie. Môžete si ju pridať na svoju domovskú obrazovku a
      pristupovať k nej ako k bežnej aplikácii. PWA nám tiež umožňuje pracovať
      offline a poskytovať rýchle načítanie stránok.
    </p>

    <p>
      Okrem toho sme implementovali aj Microsoft autentifikáciu, ktorá vám
      umožňuje prihlásiť sa pomocou svojho Microsoft účtu. Týmto spôsobom môžete
      mať prístup k osobným nastaveniam, synchronizovať dáta a využívať ďalšie
      výhody.
    </p>

    <p>
      Dúfame, že sa vám naša demo aplikácia páči a že vám poskytuje ukážku
      možností PWA a Microsoft autentifikácie. Ak máte akékoľvek otázky alebo
      pripomienky, neváhajte nás kontaktovať.
    </p>

    <p>Ďakujeme vám za používanie našej aplikácie!</p>

    <br />
  </div>
  <h2 *ngIf="!isLogin">Pre zobrazenie informácií je potrebné sa prihlásiť</h2>

  <div class="center">
    <button class="login" *ngIf="!isLogin">Prihlasiť sa</button>
    <button class="logout" *ngIf="isLogin">Odhlásiť sa</button>
  </div>
</article>
