// just to prove it's real
@import "./assets/scss/variables";

// fonts
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,800");

html {
  min-height: 100vh;
  box-sizing: content-box;
}

body {
	color: $color;
	font-size: 16px;
	padding: 0 1.75em;
	background: linear-gradient(145deg, $seconary-color-blue, #ffffff);
}

#app {
  font: {
    size: 1em;
    family: "Nunito Sans", helvetica, arial, sans-serif;
    weight: 600;
  }

  text-align: center;
  margin: 0em auto;
  max-width: 48em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $primary-color-blue;
  outline: none;
  font-weight: bold;
}

h1 {
  font: {
    size: 2.25em;
    weight: 800;
    style: normal;
  }

  text-align: center;
  letter-spacing: -1px;
}

h2 {
  text-align: center;
  letter-spacing: -1px;
}

h1:first-child {
  margin-top: 0;
}

header {
  border-bottom: 3px solid #101010;
  margin-bottom: 1em;
}

.content {
  font-size: 1.15em;
  line-height: 1.5em;

  .tunes,
  .about {
    padding: {
      top: 1.5em;
      bottom: 1.5em;
    }
  }
}

article {
  text-align: left;
}

.login {
  background-color: $primary-color-blue;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1, 60, 136, 0.5) 0 -1px 3px 0 inset,
    rgba(0, 44, 97, 0.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);

  &:hover {
    background-color: darken($primary-color-blue, 5%);
    transform: translateY(-2px);
  }
}

.logout {
  @extend .login;
  background-color: $red-color;

  &:hover {
    background-color: darken($red-color, 5%);
    transform: translateY(-2px);
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 520px) {
  #app {
    font-size: 0.85em;
  }
}

@media (min-width: 768px) {
  .login {
    padding: 16px 44px;
    min-width: 150px;
  }
}
